<p>first-comp works!</p>
This is forst component
<h1 appMyError>Hello {{name}}</h1>
<ul class="nav nav-pills">
    <li>
        <a (click)="viewMode='map'"> Map </a> </li>
        <li><a href="">List</a>   
</ul>
<div [ngSwitch] = "viewMode">
    <div *ngSwitchCase="'map'">
    Map View Content 
  </div>
  <div *ngSwitchCase="'list'">
  List View Content 
  </div>
  <div *ngSwitchDefault> Otherwise </div>
  </div>
  
<div class="box1"> 100 </div>

<div class="box1" [class.box2]="box2"> 200 </div>

<div [ngClass]="'box1 box2 box3'"> 300 </div>

<div [ngClass]="multiClasses"> 300 </div>

<div [style.margin]="size"> 400 </div>

<div [style.margin]="isActive? size : '5px'"> Div 1 </div>

String Interpolation > Used for 1 way binding
Data will come from ts to html
<!-- {{}} -->

<h1> Hello {{name}}</h1>

{{2+34}}

<h3> Sum is {{number1 + number2}}</h3>

<h2> Sum is {{AddNumbers()}} </h2>

[] > Property binding

<img [src] ="img1"/>

disabled is {{nghh}}
Enter Name <input type="text" disabled={{nghh}}/>

Enter Name <input type="text" [disabled]="nghh"/>



My app Status is {{appStatus? "Online": "Offline"}}

<button (click)="hello()"> Hello </button>

<input type="text" [value]="comment"/>

{{comment}}


<input type="text" [(ngModel)]="comment"/>






